body {
   background-color: rgb(90, 89, 89);
   margin: 0;
   box-sizing: content-box;
}

.total {
   position: fixed;
   z-index: 1;
   display: flex;
   justify-items: center;
   justify-content: space-evenly;
   align-items: center;
   gap: 2rem;
   width: 100%;
   background-color: rgb(49, 47, 47);
}

.total p {
   font-size: 2rem;
   color: beige;
}
.total button {
   border-radius: 50%;
   width: 4rem;
   height: 4rem;
}

.itemsList {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   justify-content: center;
   justify-items: center;
   padding-top: 8rem;
   padding-left: 0;
   row-gap: 1rem;
   text-align: center;
}

li {
   position: relative;
   width: 10rem;
   height: 10rem;
}

span {
   position: absolute;
   top: 0.25rem;
   left: 0.25rem;
   /* right: 50%; */
   background-color: red;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 1.25rem;
}

.addBtn {
   padding: 0;
   width: 10rem;
   height: 10rem;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.items {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   border: 0.25rem solid rgb(249, 207, 0);
}

.moins {
   border: none;
   width: 40px;
   height: 40px;
   position: absolute;
   top: 0.25rem;
   right: 0.25rem;
   background-color: aliceblue;
   border-radius: 50%;
}

.disabled {
   display: none;
}

/* .removeBtn {
    border-radius: 50%;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
} */

.price {
   position: absolute;
   bottom: -5%;
   right: 0;
   background-color: rgb(249, 207, 0);
   width: 3rem;
   height: 2rem;
   padding-left: 0.25rem;
   text-align: center;
   font-size: 1.25rem;
   border-top-left-radius: 50%;
   border-bottom-left-radius: 50%;
   color: black;
   box-shadow: 5px 2px 5px rgb(49, 47, 47);
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
}

#reset {
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
}

#reset button {
   border-radius: 50%;
   width: 4rem;
   height: 4rem;
   background-color:antiquewhite;
   box-shadow: 5px 2px 10px rgb(49, 47, 47);
   font-weight: 600;
}

#form {
   margin: 0;
}

.stand {
   font-size: 1.5rem;
   border: 0.25rem solid rgb(249, 207, 0);
   width: 100%;
   height: 100%;
   padding: 0;
}

.links {
   background-color: rgb(49, 47, 47);
   color: white;
   border-radius: 1rem;
   padding: 0.5rem;
}

.totalQuantity {
   background-color: aliceblue;
}

.getItemsBtn {
   background-color: rgb(49, 47, 47);
   color: aliceblue;
   padding: 0.5rem;
   position: sticky;
   margin: 2rem;
   font-size: 1.5rem;
}

h1 {
   color: aliceblue;
}
